
@{
    ViewBag.Title = "Login";
}

    <style type="text/css">
        .login-dark {
            background: linear-gradient(145deg, #575b5d, #252b2d);
        }

        body {
            font-size: 13px;
        }
    </style>

        <div class="row m-4">
            <div class="col-4">
                <div class="login-dark p-3 shadow-lg rounded">
                    <div class="pt-3">
                        <h2 class="text-white ">Sign In | Dark</h2>
                    </div>
                    <form class="mt-5">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-sm bg-light" placeholder="Email Id">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-sm bg-light" placeholder="Password">
                        </div>
                        @* <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="rememberCheckBox">
                            <label class="form-check-label text-light" for="rememberCheckBox">Remember me?</label>
                        </div> *@
                        <div class="mt-5">
                            <button class="btn btn-sm btn-light col">
                                Login
                            </button>
                        </div>
                        @* <div class="text-center mt-2">
                            <a href="#" class="text-warning">Forgot Password?</a>
                        </div> *@

                        <div class="mt-5">
                            <p class="text-white text-center">
                                <a href="/Security/Authentication/Register" class="text-warning">Click here to register</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>